<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration</title>
</head>
<body>
    
    <form action="register" method="post">
        {% csrf_token %}

        <label for="first_name">First name:</label>
        <input type="text" name="first_name"><br><br>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name"><br><br>
        <label for="username">Username:</label>
        <input type="text" name="username"><br><br>
        <label for="email">Email:</label>
        <input type="email" name="email"><br><br>
        <label for="password1">Password:</label>
        <input type="password" name="password1"><br><br>
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2"><br><br>

        <input type="submit">
      </form>

      <div>
            {% for message in messages %}
            
            <h3>{{ message }}</h3>
            
            {% endfor %}
      </div>


</body>
</html>